*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", serif;
  color: #212428;
  margin: 4vw auto;
  width: 92vw;
  max-width: 1280px;
  gap: 24px;
}

h1 {
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: .4px;
}

.player-setup {
  background-color: #fdf0d5;
  padding: 12px 24px;
  border-radius: 8px;
}

.player-setup div {
  margin: 12px 0;
}

.player-setup label {
  font-size: 1em;
  margin-right: 4px;
  min-width: 160px;
  display: inline-block;
}

.player-setup input {
  font-family: inherit;
  font-size: 1em;
  padding: 8px;
  background-color: #fffceb;
  border: 1px solid transparent;
  border-radius: 4px;
}

.player-setup input:focus{
  border: 1px solid #edbb5c;
  outline: none;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  margin: 16px 0;
  background-color: #f7c548;
  padding: 4px;
  border-radius: 4px;
}

.cell {
  width: 100px;
	height: 100px;
  background-color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.cell:hover:not(.marker) {
  background-color: #fffceb;
}

.cell.marker {
  color: #212428;
}

.winning-cell {
  background-color: #fdf0d5 !important;
  transition: background-color 0.2s ease-in-out;
}

#start-button {
  font-family: inherit;
  padding: 12px 24px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #f7c548;
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
  transition: background-color 0.2s ease-in-out;
}

#start-button:hover {
  background-color: #edbb5c;
}

#message-display {
  margin: 12px 0;
}